<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "de.airblader.fortune"
        versionCode = "1" 
        version     = "0.0.8">

    <name>Fortune 14/1</name>

    <description>
        Fortune 14/1 is a cross-platform mobile phone app for capturing billiards games such as 8-, 9-, 10-ball and 14/1
        (also known as straight pool).
        
        Fortune 14/1 allows you to create user profiles, view individual statistics, push them to an online server,
        favorite users for fast access and create different game profiles for easy and fast game setups. It is designed
        to be both intuitive and easy to control during a game.
        
        Another feature of Fortune 14/1 is the option to integrate it into social networks such as Facebook to allow
        live game tickers (internet connection needed).
    </description>

    <author href="https://www.airblader.de" email="admin@airblader.de">
        Ingo Buerk
    </author>
    
    <!-- Only allow portrait mode -->
    <preference name="orientation" value="portrait" />
    
    <!-- Allow minimizing the app without having to restart it -->
    <preference name="exit-on-suspend" value="false" />
    
    <!-- Set permissions -->
    <preference name="permissions" value="none" />
    <!-- Storage -->
    <plugin name="Storage" value="org.apache.cordova.Storage" />
	
    <!-- Icon -->
    <icon src="icon.png" />
    <icon src="img/icon/android_ldpi.png"  gap:platform="android" gap:density="ldpi" />
    <icon src="img/icon/android_mdpi.png"  gap:platform="android" gap:density="mdpi" />
    <icon src="img/icon/android_hdpi.png"  gap:platform="android" gap:density="hdpi" />
    <icon src="img/icon/android_xhdpi.png" gap:platform="android" gap:density="xhdpi" />

    <!-- Splash Picture -->    
    <!--<gap:splash src="splash.png" />-->
    <gap:splash src="img/splash/android_ldpi.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="img/splash/android_mdpi.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="img/splash/android_hdpi.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="img/splash/android_xhdpi.png" gap:platform="android" gap:density="xhdpi" />
</widget>